@import '../colors';
.mainSection {
    display: flex;
    align-items: center;
    height: 100vh;
    .container {
        height: 500px;
        .card {
            background-color: $secondry-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 20px;
            .mainHeading {
                color: $txt-color2;
            }
            .p {
                color: $txt-color2;
                text-align: center;
            }
            .icon {
                color: #2ecc71;
            }
        }
    }
}
@media only screen and (min-width:821px){
    .card {
        grid-column: 2/11;
        .icon {
            font-size: 100px;
        }
        .Btn {
            width:500px;
        }
    }
}
@media only screen and (max-width:820px){
    .card {
        grid-column: 1/7;
        .icon {
            font-size: 70px;
        }
        .Btn {
            width:250px;
        }
    }
}